# Chapter 6, 6-1 - 6-5, 6-7 - 6-9, 6-11

6-1

In [2]:
person = {'first_name' : 'Cinya', 'last_name' : 'Kahn', 'age' : 22, 'city' : 'Boston'}

In [5]:
print(person['first_name'])
print(person['last_name'])
print(person['age'])
print(person['city'])

Cinya
Kahn
22
Boston

6-2

In [15]:
favorite_numbers = {'Samantha': '29', 'Lisa':'18', 'Carl':'42', 'Mira' : '22', 'Naomi':'26' }

In [17]:
print('Samantha, ' + favorite_numbers['Samantha'] )
print('Lisa, ' + favorite_numbers['Lisa'] )
print('Carl, ' + favorite_numbers['Carl'] )
print('Mira, ' + favorite_numbers['Mira'] )
print('Naomi, ' + favorite_numbers['Naomi'] )

Samantha, 29
Lisa, 18
Carl, 42
Mira, 22
Naomi, 26

6-3

In [20]:
glossary = {'index':'position in a list', 'string':'collection of characters', 'integer': 'whole numner', 'list':'series of information separated by commas', 'variable' : 'name that stores some amount of information to be manipulated'}

In [21]:
print('index : '+glossary['index'])
print('\nstring : ' +glossary['string'])
print('\ninteger : ' +glossary['integer'])
print('\nlist : ' +glossary['list'])
print('\nvariable : ' +glossary['variable'])

index : position in a list

string : collection of characters

integer : whole numner

list : series of information separated by commas

variable : name that stores some amount of information to be manipulated

6-4

In [31]:
glossary = {'index':'position in a list', 'string':'collection of characters', 'integer': 'whole numner', 'list':'series of information separated by commas', 'variable' : 'name that stores some amount of information to be manipulated', 'float' : 'decimal number', 'dictionary' : 'collection of keys and values', 'for loop' : 'command that runs through each item in a list individually', }

In [55]:
for words in glossary.keys():
    print(words.title() + ': '+ glossary[words])

Index: position in a list
String: collection of characters
Integer: whole numner
List: series of information separated by commas
Variable: name that stores some amount of information to be manipulated
Float: decimal number
Dictionary: collection of keys and values
For Loop: command that runs through each item in a list individually

6-5

In [50]:
rivers = {'nile' : 'egypt', 'mississippi' : 'the united states', 'rio grande' : 'mexico'}
for river in rivers.keys():
    print('The '+ river.title() + ' runs through ' + rivers[river].title() + '.')

The Nile runs through Egypt.
The Mississippi runs through The United States.
The Rio Grande runs through Mexico.

In [51]:
for river in rivers.keys():
    print(river.title())

Nile
Mississippi
Rio Grande

In [52]:
for river in rivers.values():
    print(river.title())

Egypt
The United States
Mexico

6-7

In [60]:
person_1 = {'first_name' : 'Cinya', 'last_name' : 'Kahn', 'age' : 22, 'city' : 'Boston'}
person_2 = {'first_name' : 'Maddy', 'last_name' : 'Greens', 'age' : 19, 'city' : 'DC'}
person_3 = {'first_name' : 'Noa', 'last_name' : 'Cut', 'age' : 20, 'city' : 'Philadelphia'}
people = [person_1, person_2, person_3]

In [61]:
for person in people:
    print(person)

{'first_name': 'Cinya', 'last_name': 'Kahn', 'age': 22, 'city': 'Boston'}
{'first_name': 'Maddy', 'last_name': 'Greens', 'age': 19, 'city': 'DC'}
{'first_name': 'Noa', 'last_name': 'Cut', 'age': 20, 'city': 'Philadelphia'}

6-8

In [62]:
jasper = {'animal_type' : 'dog', 'owner' : 'Maddy'}
oz = {'animal_type' : 'cat', 'owner' : 'Noa'}
pets = [jasper, oz]
for pet in pets:
    print(pet)

{'animal_type': 'dog', 'owner': 'Maddy'}
{'animal_type': 'cat', 'owner': 'Noa'}

6-9

In [66]:
favorite_places = {'Nikita':'their bed', 'Owen':'San Diego, California', 'Michelle':'her own mind'}
for favorite_place in favorite_places.keys():
    print(favorite_place + "'s favorite place is "+ favorite_places[favorite_place]+'.')

Nikita's favorite place is their bed.
Owen's favorite place is San Diego, California.
Michelle's favorite place is her own mind.

6-11

In [75]:
cities = {'New York': {'country' : 'USA', 'population':'8.5 million', 'fact':'New York is the largest city in the US'}, 'Cairo': {'country' : 'Egypt', 'population':'9.5 million', 'fact':'Cairo is the largest city in Africa'}, 'Kyoto' : {'country' : 'Japan', 'population':'1.5 million', 'fact':'Kyoto used to be the capital of Japan'}}
for city, city_info in cities.items():
    print(city)
    country = city_info['country']
    population = city_info['population']
    fact = city_info['fact']
    print('Country: ' + country + ', population: ' + population+ ', fact: ' +fact)

New York
Country: USA, population: 8.5 million, fact: New York is the largest city in the US
Cairo
Country: Egypt, population: 9.5 million, fact: Cairo is the largest city in Africa
Kyoto
Country: Japan, population: 1.5 million, fact: Kyoto used to be the capital of Japan